<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/explore.css' %}">
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img src="/../static/images/ra_logo.jpg" width="40" height="40" >R<sup>oam</sup>A<sub>round</sub></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse"></div>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/Home">Home <span class="sr-only">(current)</span></a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/aboutus">Features</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">

                  <button class="btn menu-right-btn border" type="submit">Request A Quote</button>
                </form>



              </div>
        </nav>
    </header>

    <main>

            <div class="container-fluid p-0">
                <div class="site-content">
                    <div class="d-flex justify-content-center">
                        <div class="d-flex flex-column text-center">
                            <h1 class="site-title">Travel, Toursim and Hospitality</h1>
                            <p class="site-desc"><h3>“Remember that happiness is a way of travel”</h3></p>

                        </div>
                    </div>
                </div>
            </div>


        <div class="section-1">
            <div class="container text-center">
                <h1 class="heading-1">Fantastic Features with </h1>
                <h1 class="heading-2">Different Types of Services</h1>
                <p class="para-1">
                    The tourism and travel industry has become more accessible than ever. The internet has made it easier to research, plan and book trips, all with just a few clicks. You can find everything from flights, hotels, and restaurants to car rentals and local experiences online.


A tourism or travel website serves as an information hub for prospective travelers planning a getaway. Today, people travel for a range of experiences—babymoons, staycations, voluntourism or bleisure—you name it. So, provide as much relevant information as possible to help users plan their trips.
                </p>

                <h3 class="heading-1">Explore World</h3>
                <h6 class="heading-1">These popular destinations have a lot to offer</h6>

                <div class="row justify-content-center text-center">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/../static/images/img1.jpeg" alt="image" class="card-image-top" />
                            <div>

            <a class="btn" href="/tourism">AGRA</a>
                                <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                     The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/../static/images/img2.jpeg" alt="image" class="card-image-top" />
                            <div class="card-body">
                                 <a class="btn" href="/tourism">LONDON</a>
                                <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/../static/images/img3.jpeg" alt="image" class="card-image-top" />
                            <div class="card-body">
                                 <a class="btn" href="/TOURISM">GERMENY</a>
                                <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center text-center">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/../static/images/img4.jpeg" alt="image" class="card-image-top" />
                            <div class="card-body">
                                 <a class="btn" href="/tourism">CHARMINAR</a>
                                <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                     The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
                            </div>
                        </div>
                    </div>



        <div class="section-4">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-md-5">
                        <img src="/../static/images/ra_logo.jpg" alt="section-4" width="100%" height="100%" />
                    </div>
                    <div class="col-md-7">
                        <h3 class="heading-1">About Us</h3>
                        <hr class="h-line-1" />
                        <br />
                        <p class="para-1">We are a team of professional, energetic individuals with talented designers and experienced managers
                             available to guide our clients through the flawless and timely execution of any web design project.
                             Since day one, we have been delivering creative and unique websites to our clients worldwide.</p>
                            <div class="d-flex flex-row">
                                    <div class="col-md-6">
                                            <div class="d-flex flex-row">
                                                <i class="fas fa-pencil-ruler fa-2x m-2"></i>
                                                <div class="d-flex flex-column">
                                                    <h4 class="m-2">Framework</h4>
                                                    <p class="m-2">The Future is based on Bootstrap Framework, which makes it a nice template for any purpose.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                                <div class="d-flex flex-row">
                                                        <i class="far fa-edit fa-2x m-2"></i>
                                                        <div class="d-flex flex-column">
                                                            <h4 class="m-2">Clean & Crispy Design</h4>
                                                            <p class="m-2">The Future is crafted by top industry leaders with love, care and customer needs in mind.</p>
                                                        </div>
                                                </div>
                                        </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="section-5 text-center">
            <h4 class="my-4">If You Need any Help</h4>

            <div class="form-inline justify-content-center">
                <input type="text" name="Email" id="email" placeholder="Email" size="40px;" class="form-control px-4 py-2" />
                <input type="button" value="Contact Us" class="btn btn-light px-4 py-2" />
            </div>

            <div class="social">
                <div class="d-flex flex-row justify-content-center">
                    <i class="fab fa-facebook-f m-2"></i>
                    <i class="fab fa-twitter m-2"></i>
                    <i class="fab fa-instagram m-2"></i>
                    <i class="fab fa-youtube m

Nitesh, [4/1/2023 11:35 AM]
-2"></i>
                    <i class="fab fa-linkedin m-2"></i>
                </div>

                <hr>
            </div>
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

    <script>
         window.sr = ScrollReveal({ duration : 1000 });

        sr.reveal('.site-content .d-flex');
        sr.reveal('.section-1 .card');
        sr.reveal('.section-2 .d-flex');
        sr.reveal('.section-3 .col-md-4');
        sr.reveal('.section-4 .col-md-7');
    </script>

</body>
</html>