<!DOCTYPE html>
{%load static%}
<html>
<head>
	<title>Flight Booking</title>
	<link rel="stylesheet" href="{% static 'css/flight.css' %}">
</head>
<body>
	<div class="container">
		<h1>Transport Booking</h1>
		<form action="{% url 'fl' %}" method="POST">
			{% csrf_token%}
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" required>
			<label for="email">Email:</label>
			<input type="email" id="email" name="email" required>
			<label for="phone">Phone:</label>
			<input type="tel" id="phone" name="phone" required>
			<label for="check-in-date">Date:</label>
			<input type="date" id="check-in-date" name="date" required>
			<label for="room-type">Class:</label>
			<select id="room-type" name="eco" required>
				<option value="">ALL CATEGORY</option>
				<option value="Single">Buisness class</option>
				<option value="Double">First class</option>
				<option value="Double">AC</option>
				<option value="Double">NON-AC</option>
				<option value="Double">SL</option>
				<option value="Double">LB</option>
				<option value="Double">MB</option>
				<option value="Double">UB</option>
				<option value="Double">SU</option>



			</select>
			<label for="number">Adults</label>
			<input type="number" id="number" name="number" required>
			<label for="number">Children</label>
			<input type="number" id="number" name="number1" required><br>

			 <input type="submit" value="Proceed">

		</form>
	</div>
</body>
</html>
