<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account successfully created</title>
  <link rel="stylesheet" href="{% static 'css/notcreated.css' %}">
</head>
<body>
<div id='card' class="animated fadeIn">
  <div id='upper-side'>
    <?xml version="1.0" encoding="utf-8"?>
      <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->


      <h3 id='status'>
      Sorry
    </h3>
  </div>
  <div id='lower-side'>
    <p id='message'>
      your account has been Not successfully created. Password and confirm password are not same
    </p>
    <a href="/signup" id="contBtn">Try again</a>
  </div>
</div>
</body>
</html>