<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>payment success</title>
  <link rel="stylesheet" href="{% static 'css/paymentsuccess.css' %}">
</head>
<body>
<div class="container">
   <div class="row">
      <div class="col-md-6 mx-auto mt-5">
         <div class="payment">
            <div class="payment_header">
               <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
            </div>
            <div class="content">
               <h1>Payment Success !</h1>
               <p>We were all pleasantly astounded when you paid a visit to us! Your presence was truly appreciated and it meant so much to us. Thank you for such an uplifting surprise. </p>
               <a href="/hotel">Go to Home</a>
            </div>

         </div>
      </div>
   </div>
</div>
</body>
</html>