<!DOCTYPE html>
{%load static%}
<html>

<head>
    <title>   Roam Around | Best Prices. Best Holidays.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Prasang Singhal, Paras Patidar, Vijay Deshwal">
    <meta name="keywords" content="voyager, voyager.com, online tickets booking, flight tickets, bus tickets, train tickets">
    <link rel="stylesheet" href="{% static 'css/tourism.css' %}">
    <link rel="icon" href="images/Logos/logo.ico" type="image">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500|Raleway:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body class="bg">

    <header>
        <div class="logo">
            <h1 class="voyager">ROAM AROUND</h1>
            <h3>Best Prices <span class="dot">.</span> Best Holidays <span class="dot">.</span></h3>
            <ul class="sociallist">
                <a href="index.html">
                    <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                </a>
                <a href="index.html">
                    <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                </a>
            </ul>
        </div>
        <div class="navbar">
            <ul>
                <a href="/Home">
                    <li>HOME</li>
                </a>
                <a href="/blog">
                    <li>BLOG</li>
                </a>
                <a href="#contact">
                    <li>Contact Us</li>
            </ul>
        </div>
    </header>

    <div class="wtv">
        <div class="welcome" style="text-align: center"> <span class="initial">Welcome to </span> <span class="last">ROAM AROUND!</span> </div>
    </div>

    <div class="container">
        <!--Blockquote-->
        <blockquote id="first">
            “YOU CAN CHOOSE THE MODE OF TRANSPORT WHICH YOU DESIRE !!!!”
        </blockquote>
    </div>
    <!--Buttons-->

    <div id="buttons">
        <ul>

            <a href="#flight">
                <li>Flights</li>
            </a>

            <a href="#buses">
                <li>Bus</li>
            </a>
            <a href="#trains">
                <li>Trains</li>
                </a>


          <a href="/tt"><li>Recommendations</li></a>

        </ul>

    </div>


    <!--Buttons-->
    <!--Cards-->
    <div class="container">
        <a name="flight"></a><br>
        <h4 id="category" class="flight">Flights</h4>

        <div class="row" style="margin-top: 50px;" id="flights">


            <!--Delhi - Jaipur-->
            <div class="col s4 hoverable">
                <div class="card medium">
                    <div class="card-image">
                        <img src="/../static/images/jaipur.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title">New Delhi - Agra</span>
                        <p>Trending destination | Great prices! <br> <br> <span><p class="makebold">&#8377 1,346 - 3,673<sup>*</sup></p></span></p>
                    </div>
                    <div class="card-action red darken-4">
                        <a href="/hotel" class="white-text ">SELECT</a>
                    </div>
                </div>
            </div>
            <!--Delhi - Jaipur-->

            <!--Delhi - Chandigarh-->
            <div class="col s4 hoverable">
                <div class="card medium">
                    <div class="card-image">
                        <img src="/../static/images/chandigarh.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title">New Delhi - Chandigar</span>
                        <p>Weekend breaks | Affordable prices <br> <br> <span><p class="makebold">&#8377 3,216 - 9,580<sup>*</sup></p></span></p>
                    </div>
                    <div class="card-action red darken-4">
                        <a href="/hotel" class="white-text ">SELECT</a>
                    </div>
                </div>
            </div>
            <!--Delhi - Chandigarh-->

            <!--Delhi - Mumbai-->
            <div class="col s4 hoverable">
                <div class="card medium">
                    <div class="card-image">
                        <img src="/../static/images/mumbai.PNG">
                    </div>
                    <div class="card-content">
                        <span class="card-title">New Delhi - Mumbai</span>
                        <p>Trending destination | Great prices! <br> <br> <span><p class="makebold">&#8377 4,282 - 7,026<sup>*</sup></p></span></p>
                    </div>
                    <div class="card-action red darken-4">
                        <a href="/hotel" class="white-text ">SELECT</a>
                    </div>
                </div>
            </div>
            <!--Delhi - Mumbai-->

            <!--Delhi - Lucknow-->
            <div class="col s4 hoverable">
                <div class="card medium">
                    <div class="card-image">
                        <img src="/../static/images/lucknow.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title">New Delhi - Lucknow</span>
                        <p>Weekend breaks | Affordable prices <br> <br> <span><p class="makebold">&#8377 2,147 - 4,408<sup>*</sup></p></span></p>
                    </div>
                    <div class="card-action red darken-4">
                        <a href="/hotel" class="white-text ">SELECT</a>
                    </div>
                </div>
            </div>
            <!--Delhi - Lucknow-->

            <!--Delhi - Hyderabad-->
            <div class="col s4 hoverable">
                <div class="card medium">
                    <div class="card-image">
                        <img src="/../static/images/hyderabad.PNG">
                    </div>
                    <div class="card-content">
                        <span class="card-title">New Delhi - Hyderabad</span>
                        <p>Popular Deals. Fly now! <br> <br> <span><p class="makebold">&#8377 3,343 - 5,227<sup>*</sup></p></span></p>
                    </div>
                    <div class="card-action red darken-4">
                        <a href="/hotel" class="white-text ">SELECT</a>
                    </div>
                </div>
            </div>
            <!--Delhi - Hyderabad-->

            <!--Delhi - Bangalore-->
            <div class="col s4 hoverable">
                <div class="card medium">
                    <div class="card-image">
                        <img src="/../static/images/bangalore.PNG">
                    </div>
                    <div class="card-content">
                        <span class="card-title">New Delhi - Bangalore</span>
                        <p>Weekend breaks | Affordable prices <br> <br> <span><p class="makebold">&#8377 5,545 - 14,945<sup>*</sup></p></span></p>
                    </div>
                    <div class="card-action red darken-4">
                        <a href="/hotel" class="white-text">SELECT</a>
                    </div>
                </div>
            </div>
            <!--Delhi - Bangalore-->

            <div class="col s12 small" style="margin-bottom: -45px;">
                <div class="card teal hoverable">
                    <div class="card-content white-text">
                        <span class="card-title" style="font-size: 2.5em; font-family:  Varela Round">Wanna book another Flight ?</span>
                    </div>
                    <div class="card-action">
                        <a href="/hotel" target="_blank" style="background: #004d40; padding: 5px 9px; color: white; font-family: Montserrat;">FIND HERE</a>
                    </div>
                </div>
            </div>
        </div>
        <!--End of flights-->

        <!--Hotels-->


        <!--Bus-->

        <a name="buses"></a><br>
        <h4 id="category" class="hotels">Buses</h4>
        <div class="row" style="margin-top: 50px;" id="flights">

            <div class="col s3 m4">
                <div class="card grey lighten-3 hoverable ">
                    <div class="card-content black-text">
                        <span class="card-title">Delhi - Manali</span>
                        <p>Volvo | Mercedes | Ordinary</p><br>
                        <p class="makebold">&#8377 657 - 1,360<sup>*</sup></p>
                    </div>
                    <div class="card-action">
                        <a href="/hotel">SELECT</a>
                    </div>
                </div>
            </div>


            <div class="col s3 m4">
                <div class="card grey lighten-3 hoverable ">
                    <div class="card-content black-text">
                        <span class="card-title">Delhi - Chandigarh</span>
                        <p>Volvo | Mercedes | Ordinary</p><br>
                        <p class="makebold">&#8377 240 - 1,499<sup>*</sup></p>
                    </div>
                    <div class="card-action">
                        <a href="/hotel">SELECT</a>
                    </div>
                </div>
            </div>


            <div class="col s3 m4">
                <div class="card grey lighten-3 hoverable ">
                    <div class="card-content black-text">
                        <span class="card-title">Mumbai - Pune</span>
                        <p>Volvo | Mercedes | Ordinary</p><br>
                        <p class="makebold">&#8377 137 - 2,800<sup>*</sup></p>
                    </div>
                    <div class="card-action">
                        <a href="/hotel">SELECT</a>
                    </div>
                </div>
            </div>


            <div class="col s3 m4">
                <div class="card grey lighten-3 hoverable ">
                    <div class="card-content black-text">
                        <span class="card-title">Amritsar - Delhi</span>
                        <p>Volvo | Mercedes | Ordinary</p><br>
                        <p class="makebold">&#8377 469 - 1,299<sup>*</sup></p>
                    </div>
                    <div class="card-action">
                        <a href="/hotel">SELECT</a>
                    </div>
                </div>
            </div>


            <div class="col s3 m4">
                <div class="card grey lighten-3 hoverable ">
                    <div class="card-content black-text">
                        <span class="card-title">Mumbai - Goa</span>
                        <p>Volvo | Mercedes | Scania | Ordinary</p><br>
                        <p class="makebold">&#8377 665 - 2,550<sup>*</sup></p>
                    </div>
                    <div class="card-action">
                        <a href="/hotel">SELECT</a>
                    </div>
                </div>
            </div>


            <div class="col s3 m4">
                <div class="card grey lighten-3 hoverable ">
                    <div class="card-content black-text">
                        <span class="card-title">Bangalore - Chennai</span>
                        <p>Volvo | Mercedes | Scania | Ordinary</p><br>
                        <p class="makebold">&#8377 261 - 3,849<sup>*</sup></p>
                    </div>
                    <div class="card-action">
                        <a href="/hotel">SELECT</a>
                    </div>
                </div>
            </div>



        <!--End of bus-->


        <!--Trains-->

        <a name="trains"></a><br>
        <h4 id="category" class="trains">Trains</h4>
        <div class="row" style="margin-top: 50px;" id="flights">

            <div class="col s3 m4">
                <div class="card grey lighten-3 hoverable ">
                    <div class="card-content black-text">
                        <span class="card-title">Amritsar - New Delhi</span>
                        <p></p><br>
                        <p class="makebold">&#8377 280 - 1,550<sup>*</sup></p>
                    </div>
                    <div class="card-action">
                        <a href="/hotel">SELECT</a>
                    </div>
                </div>
            </div>


            <div class="col s3 m4">
                <div class="card grey lighten-3 hoverable ">
                    <div class="card-content black-text">
                        <span class="card-title">Delhi - Hyderabad</span>
                        <p></p><br>
                        <p class="makebold">&#8377 685 - 5,005<sup>*</sup></p>
                    </div>
                    <div class="card-action">
                        <a href="/hotel">SELECT</a>
                    </div>
                </div>
            </div>


            <div class="col s3 m4">
                <div class="card grey lighten-3 hoverable ">
                    <div class="card-content black-text">
                        <span class="card-title">Delhi - Mumbai</span>
                        <p></p><br>
                            <p class="makebold">&#8377 575 - 4,455<sup>*</sup></p>
                    </div>
                    <div class="card-action">
                        <a href="/hotel">SELECT</a>
                    </div>
                </div>
            </div>


            <div class="col s3 m4">
                <div class="card grey lighten-3 hoverable ">
                    <div class="card-content black-text">
                        <span class="card-title">Lucknow - Delhi</span>
                        <p></p><br>
                        <p class="makebold">&#8377 295 - 2,085<sup>*</sup></p>
                    </div>
                    <div class="card-action">
                        <a href="/hotel">SELECT</a>
                    </div>
                </div>
            </div>


            <div class="col s3 m4">
                <div class="card grey lighten-3 hoverable ">
                    <div class="card-content black-text">
                        <span class="card-title">Mumbai - Ahmedabad</span>
                        <p></p><br>
                        <p class="makebold">&#8377 205 - 2,240<sup>*</sup></p>
                    </div>
                    <div class="card-action">
                        <a href="/hotel">SELECT</a>
                    </div>
                </div>
            </div>


            <div class="col s3 m4">
                <div class="card grey lighten-3 hoverable ">
                    <div class="card-content black-text">
                        <span class="card-title">Chennai - Pune</span>
                        <p></p><br>
                        <p class="makebold">&#8377 505 - 3,385<sup>*</sup></p>
                    </div>
                    <div class="card-action">
                        <a href="/hotel">SELECT</a>
                    </div>
                </div>
            </div>




        <!--End of trains-->
        <!--Ratings-->

        <h4 style="margin-bottom: -40px;">What our users say ?</h4>

        <div class="row" style="margin-top: 50px;" id="flights">

            <div class="col s4 " style="margin-bottom: .5em">
                <div class="card grey lighten-4 hoverable ">
                    <div class="card-content black-text">
                        <span class="card-title" style="font-size: 25px; font-weight: 400;">Suraj Kumar</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p>Excellent service, awesome prices. All u need is now at one place.</p>
                    </div>
                </div>
            </div>

            <div class="col s4 " style="margin-bottom: .5em">
                <div class="card grey lighten-4 hoverable ">
                    <div class="card-content black-text">
                        <span class="card-title" style="font-size: 25px; font-weight: 400;">Uday Kumar</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <p>A site for all ur needs. Have to say it is better than others.</p>
                    </div>
                </div>
            </div>

            <div class="col s4 " style="margin-bottom: .5em">
                <div class="card grey lighten-4 hoverable ">
                    <div class="card-content black-text">
                        <span class="card-title" style="font-size: 25px; font-weight: 400;">D.Nitish Kumar</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p>Awesome site with awesome services.</p>
                    </div>
                </div>
            </div>


            <div class="col s4 " style="margin-bottom: .5em">
                <div class="card grey lighten-4 hoverable ">
                    <div class="card-content black-text">
                        <span class="card-title" style="font-size: 25px; font-weight: 400;">Prakhar Gupta</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p>One of my favourite site till now.</p>
                    </div>
                </div>
            </div>

            <div class="col s4 " style="margin-bottom: .5em">
                <div class="card grey lighten-4 hoverable ">
                    <div class="card-content black-text">
                        <span class="card-title" style="font-size: 25px; font-weight: 400;">Aakib Ali</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p>Best interface ever seen.</p>
                    </div>
                </div>
            </div>

            <div class="col s4 " style="margin-bottom: .5em">
                <div class="card grey lighten-4 hoverable ">
                    <div class="card-content black-text">
                        <span class="card-title" style="font-size: 25px; font-weight: 400;">Yogendra choudhary</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <p>Best Prices. Best holidays.</p>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <a name="contact"></a>
    <div id="contact" class="hoverable">

        <h2 style="margin-top: 40px;">Contact Us</h2>
        <p>Contact us and we'll get back to you within 24 hours</p>
        <ul>
            <li><img src="https://png.icons8.com/windows/32/ffffff/marker.png" class="mapmarker">Andhra Pradesh, Vijayawada</li>
            <li><img src="https://png.icons8.com/material/24/ffffff/phone.png" class="align">+91 8770924907, +91 9131674222</li>
            <li><img src="https://png.icons8.com/metro/26/ffffff/secured-letter.png" class="align">roamaround.support@gmail.com</li>
        </ul>

    </div>


    <footer class="section teal darken-3">
        <p class="flow-text white-text center" style="font-family: Montserrat; font-size: 35px;">ROAM AROUND &copy; 2023</p>
    </footer>


    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script src="js/index.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>